html{
    scroll-behavior: smooth;
}
*{
    z-index: 3;
}


body {
    background-color: rgb(0, 5, 31);
    color: white;
    font-family: Consolas;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-type: y mandatory; 
    margin-top: 0px;
    
}


/* SCROLLBAR */
body::-webkit-scrollbar {
    display: none;
}

/* Header    */

.header-container {
    position: fixed;
    width: 96%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(0, 5, 31);
    padding: 1.5rem 2rem;
    margin-top: 0rem;
}

/* Navigation */

.navigation {
    
    display: flex;
    font-size: 20px;
    gap: 3rem;
}

.navigation a {
    color: white;
    text-decoration: none; 
    scroll-behavior: smooth;
}

/* Main page */

.main-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    max-width: 100%;
    min-height: fit-content;
    max-height: 100vh;
    height: 100vh;
    gap: 2rem;
    background-color:rgb(0, 5, 31);
    z-index: 20;
    scroll-snap-align: start;
}

.my-Info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 40px;
    z-index: 3;
}
.my-Info p{
    font-size: 25px;
}

.my-Image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    z-index: 3;
}

.my-Image img {
    border-radius: 50%;
    width: 55vh;
    height: 55vh;
    object-fit: cover;
}

/* PROJECTS */

/* Project section container */
.projects-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    max-height: fit-content;
    height: auto;
    z-index: 20;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory; 
    
}

/* Project box container */

.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: auto; 
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 20vh;
    z-index: 3;
}

.projec-title-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    height: 80vh;
    z-index: 3;
}

.project-title-box h1{
    font-size: 3rem;
}

/* Project content box */

.project-content-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 80vh;
    z-index: 3;
    flex-wrap: wrap;
}

/* Image styling */
.project-box img{
    width: 80vh;
    height: 60vh;
    object-fit: scale-down;
}

/* description box */

.project-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 25px;
    width: 50vh;
    z-index: 3;
}
.button-box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 3;
}

/* Image box styling */
.image-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
}

/* Arrow styling */
.arrow {
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
}

/* Button styling */

.primary {
    background-color: rgb(0, 5, 31);
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.primary:hover {
    background-color: white;
    color: rgb(0, 5, 31);
}

/* FORM */

.form-section {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    gap: 1rem;
    padding: 1rem 10rem 1rem 10rem;
    z-index: 20;
    scroll-snap-align: start; 
    
}  
.form-section h1 {
    display: flex;
    align-self: center;
    font-size: 45px;
    z-index: 3;
}
.form-box
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    z-index: 3;
} 

.name-input {
    padding: 2vh;
    font-size: 16px;
}

.email-input {
    padding: 2vh;
    font-size: 16px;
}

.message-input {
 grid-column: span 2;  
 font-size: 16px;
 padding: 4vh;
 min-height: fit-content;
}

.send {
    grid-column: span 2;
    padding: 2vh 15vh 2vh 15vh;
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
}

/* FOOTER */

.footer {    
    display: flex;
    justify-content: center;    
    padding: 1rem 2rem;
    z-index: 20;
    margin-top: 15vh;
    
}
